{% block _product_datagrid_row__product_extra_attributes_widget %}
    <ul>
        <li><span class="attribute_label">Melt Flow:</span><span class="attribute_value">{{ product.melt_flow }}</span></li>
        <li><span class="attribute_label">Flex Modulus:</span><span class="attribute_value">{{ product.flex_modulus }}</span></li>
        <li><span class="attribute_label">Tensile Strength:</span><span class="attribute_value">{{ product.tensile_strength }}</span></li>
        <li><span class="attribute_label">Izod:</span><span class="attribute_value">{{ product.izod }}</span></li>
    </ul>
{% endblock %}
